.profile{
	display: none;
}
.hover-profile:hover .profile{
	display: block;
}
.data{width: 100%;}
.colhead{width: 100%;color:white;float:left;}

.col7{width:14.285%;float:left;text-align: center;border-left:1px solid black;border-bottom: 1px solid black;background: blue;}
.col8{width:12.5%;float:left;text-align: center;border-left:1px solid black;border-bottom: 1px solid black;background: blue;}
.col3{width:33.33333%;float:left;text-align: center;border-left:1px solid black;border-bottom: 1px solid black;background: blue;}
.col4{width:24.88%;float:left;text-align: center;border-left:1px solid black;border-bottom: 1px solid black;background: blue;}
.col5{width:20%;float:left;text-align: center;border-left:1px solid black;border-bottom: 1px solid black;background: blue;}
.col6{width:16.66%;float:left;text-align: center;border-left:1px solid black;border-bottom: 1px solid black;background: blue;}
.scrolll{overflow: auto;height: 400px;width: 100%;}

.sud{float: left;padding-top: 5px;padding-bottom: 5px;border-bottom: 1px solid black;width: 100%;}
.sud:hover{background: #eeeeee;}
.value{float: left;width: 14.285%;text-align: center;}
.value3{float: left;width: 33.33333%;text-align: center;}
.value4{float: left;width: 24.88%;text-align: center;}
.value5{float: left;width: 20%;text-align: center;}
.value6{float: left;width: 16.66%;text-align: center;}
.value8{float: left;width:12.5%;text-align: center;}
.ser{padding-left: 15px;width: 30%;margin-top: 30px;}
/* #style-1::-webkit-scrolll {
    width: 6px;
    background-color: red;

}
#style-1::-webkit-scrolll-thumb {
    background-color: black;
    border-radius: 2px;
}
#style-1::-webkit-scrolll-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: white;

} */